.editButton {
  border: none;
  background-color: #dcf1d7;
  color: #229a16;
  font: inherit;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  /* cursor: not-allowed; */
}

.deleteButton {
  border: none;
  background-color: #f7dbdb;
  color: #b72136;
  font: inherit;
  /* cursor: pointer; */
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}
